<section
  class="relative grid items-center grid-cols-1 gap-6 pt-3 pb-24 text-center justify-items-center md:justify-items-start md:text-left md:grid-cols-[3fr_1fr]"
>
  <article class="flex flex-col gap-2">
    <h1
      class="mb-1 text-4xl font-bold text-transparent bg-gradient-to-r from-gradient-3 to-gradient-4 bg-clip-text md:text-5xl"
      id="name"
    >
      Martin Germán
    </h1>

    <h2 class="mb-5 text-3xl font-bold md:text-4xl text-custom-800">
      Junior Web Developer
    </h2>

<p class="max-w-[69ch] text-balance">
  I'm a university student with a growing passion for web development. Most of my experience so far has been in building frontend apps using <span class="font-bold">React</span> and <span class="font-bold">TailwindCSS</span>. Lately, I’ve been exploring <span class="font-bold">Next.js</span> as I enjoy working with the React ecosystem. I’ve also had some exposure to <span class="font-bold">Angular</span>, and I’m confident using <span class="font-bold">HTML</span>, <span class="font-bold">CSS</span>, <span class="font-bold">JavaScript</span>, and <span class="font-bold">TypeScript</span>.
</p>

<p class="max-w-[69ch] text-balance">
  On the backend, I’ve worked with <span class="font-bold">Node.js</span> and <span class="font-bold">Express</span>, and I've completed smaller projects using <span class="font-bold">PHP</span> and <span class="font-bold">Java</span>. I’ve used <span class="font-bold">MySQL</span> and <span class="font-bold">Firebase</span> for managing data and hosting.
</p>

<p class="max-w-[69ch] text-balance">
  One of my favorite side projects was creating a 3D scene using <span class="font-bold">Three.js</span>. <br/> I also enjoy UI design and often use <span class="font-bold">Figma</span> and <span class="font-bold">Canva</span> to bring ideas to life.
</p>

<p class="max-w-[69ch] text-balance">
  Outside of development, I’ve worked on creative projects like <br/> <span class="font-bold">T-shirt graphics</span> and <span class="font-bold">logos</span> using <span class="font-bold">Adobe Photoshop and Canvas</span>. <br/>These helped me explore my creative side while learning visual design.
</p>

    <shared-buttons class="mt-4" />
  </article>

  <article class="-order-1 md:order-1">
    <img
      alt="Picture of me - GM"
      class="object-cover rounded-md"
      height="420"
      src="./assets/images/yo.webp"
      width="320"
    />
  </article>

  <a
    class="absolute -translate-x-1/2 bottom-2 left-1/2 portfolio-bounce"
    href="#projects"
  >
    <img
      alt="arrow down"
      height="32"
      id="arrow_down"
      src="./assets/icons/arrow_down.svg"
      width="32"
    />
  </a>
</section>
