<section
  class="relative grid items-center grid-cols-1 gap-6 pt-3 pb-24 text-center justify-items-center md:justify-items-start md:text-left md:grid-cols-[3fr_1fr]"
>
  <article class="flex flex-col gap-2">
    <h1
      class="mb-1 text-4xl font-bold text-transparent bg-gradient-to-r from-gradient-3 to-gradient-4 bg-clip-text md:text-5xl"
      id="name"
    >
      Martin Germán
    </h1>

    <h2 class="mb-5 text-3xl font-bold md:text-4xl text-custom-800">
      Junior Web Developer
    </h2>

    <p class="max-w-[69ch] text-balance">
      I'm a <span class="font-bold">frontend-focused</span> university student in my final semester.<br/> I'm
      currently seeking a professional internship opportunity, with the goal of
      long-term collaboration after internship ends. <br/> My passion
      lies in building modern, responsive web interfaces using
      <span class="font-bold">React</span> with
      <span class="font-bold">TailwindCSS</span>, and I'm actively learning
      <span class="font-bold">Next.js</span> to expand my full-stack capabilities,
      including <span class="font-bold">SSR</span>, <span class="font-bold">SEO</span>, <span class="font-bold">routing</span>, <span class="font-bold">API handling,</span> and more.
    </p>

    <p class="max-w-[69ch] text-balance">
      During my Thesis Project I build a <span class="font-bold">full-stack</span> web application using<br/>
      <span class="font-bold">Node.js</span> and
      <span class="font-bold">Express</span> with <span class="font-bold">REST API</span> integration, and integrated external APIs like 
      <span class="font-bold">GeminiAPI, OAuth2 , EmailJS</span> and more. <br/>
      I also have basic experience with
      <span class="font-bold">Angular</span> and 
      <span class="font-bold">Java</span>. <br/> 
      For data storage, 
      I've worked with <span class="font-bold">MySQL</span>,
      <span class="font-bold">PostgreSQL</span>, and
      <span class="font-bold">Firebase</span>. 
    </p>

    <p class="max-w-[69ch] text-balance">
      Combining my ongoing and previous studies helped me build a solid foundation in <span class="font-bold">UI/UX</span> and visual design. <br/>
    </p>
      <p class="max-w-[69ch] text-balance">
      Outside of coding, I’ve designed <span class="font-bold">logos</span>,
      <span class="font-bold">T-shirt graphics</span>, and
      <span class="font-bold">wireframes</span> for academic and personal
      projects using <span class="font-bold">Adobe Photoshop</span>,
      <span class="font-bold">Canva</span>, and
      <span class="font-bold">Figma</span>. These creative experiences help me
      combine technical skills with visual design.
      <shared-buttons class="mt-4" />
    </p>
  </article>

  <article class="-order-1 md:order-1">
    <img
      alt="Picture of me - GM"
      class="object-cover rounded-md"
      height="420"
      src="./assets/images/yo.webp"
      width="320"
    />
  </article>

  <a
    class="absolute -translate-x-1/2 bottom-2 left-1/2 portfolio-bounce"
    href="#projects"
  >
    <img
      alt="arrow down"
      height="32"
      id="arrow_down"
      src="./assets/icons/arrow_down.svg"
      width="32"
    />
  </a>
</section>
